<ul class="sidemenu">
    <li class="menuitem1">
        <a [ngClass]="allworkBtnSelected === true ? 'SelectedBtn':'underline'" (click)="goToAllWork()"> All Work </a>  
    </li>
    <li class="menuitem1">
        <a [ngClass]="interactiveBtnSelected === true ? 'SelectedBtn':'underline'" (click)="goToInteractive()"> <span>Interactive</span> </a>  
    </li>
    <li class="menuitem2"> 
        <a [ngClass]="devBtnSelected === true ? 'SelectedBtn':'underline'"  (click)="goToDev()" ><span>Development and Desing</span></a>
    </li>
    <li class="menuitem3">
        <a [ngClass]="artBtnSelected === true ? 'SelectedBtn':'underline'"  (click)="goToArt()" ><span>Art</span></a>
    </li>
    <!-- <li class="menuitem4">
        <a class="Workingish"><span>About</span> </a>
    </li> -->
</ul>

