<ul class="sidemenu">
    <li class="menuitem1" (click)="goToAllWork()">
        <a [ngClass]="allworkBtnSelected === true ? 'SelectedBtn':'underline'"> All Work </a>  
    </li>
    <li class="menuitem1" (click)="goToInteractive()">
        <a [ngClass]="interactiveBtnSelected === true ? 'SelectedBtn':'underline'" > <span>Interactive</span> </a>  
    </li>
    <li class="menuitem2" (click)="goToDev()"> 
        <a [ngClass]="devBtnSelected === true ? 'SelectedBtn':'underline'"   ><span>Dev & Design</span></a>
    </li>
    <li class="menuitem3" (click)="goToArt()" >
        <a [ngClass]="artBtnSelected === true ? 'SelectedBtn':'underline'"  ><span>Art</span></a>
    </li>
    <!-- <li class="menuitem4">
        <a class="Workingish"><span>About</span> </a>
    </li> -->
</ul>

