.sidemenu-contianer{
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // background-color: transparent;
    // left: 0;
    // padding: 0px;
}
  .sidemenu{
    display: block;
    position: fixed;
    list-style: none;
    text-decoration: none;
    margin-top: 24%;
    /* bottom: 56px; */
    /* margin-bottom: 10%; */
    display: grid;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    li {
      display: inline-block;
      margin: 0;
      a {
        font-size: 18px;
        font-family: 'calibri';
        font-weight: 400;
        color: inherit;
      }
    }
  }

  @mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #000) {
    @if $dir == null {
        $dir: 'center';
    }
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: $weight;
        background: $color;
        bottom: $weight * -2;
        transform: scale(0, 1);
        transition: transform .3s;
        transform-origin: right top;
    }
    &:hover::after {
        transform-origin: left top;
        transform: scale(1, 1);
    }
}

  .sidemenu a {
    @include hover-underline('slide', 'left-in-right');
  }

.menuitem1{
    padding-bottom: 20px;
    color: grey;
}
.menuitem1 :hover{
    color: #333;
}
.menuitem2{
    color: grey;
    padding-bottom: 20px;
}
.menuitem2 :hover{
    color: #333;
}
.menuitem3{
    color: grey;
}
.menuitem3 :hover{
    color: #333;
}