<div class="headerWrapper">
    <div class="headerTwo row">
        <div class="col-1"></div>
        <div class="col-2 menuitem1">
            <a class="underline" [routerLink] = "['/image']"> <span>Work</span> </a> 
        </div>
        <div class="col-2"></div>
        <div class="col-4 menuitem2">
            <a class="underline" [routerLink] = "['/']" ><span>Brianna Ondris</span></a>
        </div>
        <div class="col-2 menuitem3">
            <a class="underline" [routerLink] = "['/informationContact']"><span>Contact</span></a>
        </div>
        <div class="col-1"></div>
    </div>
</div>

