<div *ngIf="imageSelectedDetails">
    <button (click)="backClicked()">Back</button>
    <div>
        <div class="container" gallerize>
            <div *ngFor= "let image of filterForImages" class="image">
                <div class="imagebox">
                    <img [src]="image.imageUrl" > 
                </div>
            </div>
        </div>
        <div *ngFor= "let info of filterForImageInfo" class="container">
            <div class="row">
                <div class="col-4">
                    <div class=" row">
                        <span class="imagebox-desc">{{info.title}} </span>
                    </div>
                    <div class=" row">
                        <span>{{info.medium}}</span>
                    </div>
                    <div class=" row">
                        <span>{{info.dateCreated}}</span>
                    </div>
                </div>
                <div class="col-8">
                    <span> {{info.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
