

.container {
  //max-width: 1267px;
  margin: 0 auto; 
  .image{
    display: inline-block !important;

    .imagebox {
      position: relative !important;
      display: inline-block !important;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .imagebox img{
      object-fit: cover;
      display: block;
      width: 366px;
      height: 243px;
    }
  } 
}


