<div *ngIf="imageSelectedDetails">
    <button (click)="backClicked()">Back</button>

    <div class="basic-container">
        <p>
            <button mat-button (click)="gallery.open()">Open Gallery</button>
        </p>
        <div class="container">
            <div class= "row photos" gallerize>
                <div *ngFor= "let image of imageSelectedDetails | async" >
                    <div *ngIf="image.tag == imageTag">
                        <div class="row">
                            <div class="col-12">
                                <img [src]="image.imageUrl" alt="{{image.title}}" class="img-fluid" height="500px" width="450px" style="padding: 0 2px 4px 2px;"> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div *ngIf="image.isMainImage == 'true'">
                                    <span class="imagebox-desc">{{image.title}} </span>
                                    <span> {{image.description}}</span>
                                    <span>{{image.dateCreated}}</span>
                                    <span>{{image.medium}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
