.container{
	width:90%;
	max-width: 1300px;
	margin: 2em auto;
	overflow:hidden;
}
.imageGrid {
	line-height: 0;
	display: inline;
	
  }
  .imageGrid img {
	width:33.33%;
	min-height:20em;
	line-height: 1.2;
	display:inline-block;
	overflow: hidden;
	position: relative;
	color:#fff;
	padding: .5em;
  }
  div, span{
	font-family: 'Helvetica Neue';
    color: rgb(96, 96, 96);
  }

  @media screen and (max-width:3000px) {
	.workInfo{
		margin-bottom: 4%;
	}
	.title{
		font-size: 1.2em;
	}
	.medium{
		font-size: 0.9em;
	}
	.dateCreated{
		font-size: 0.9em;
	}
	.description{
		font-size: 1em;
	}
	.featureName{
		font-size: 0.8em;
	}
	.featureTitle{
		font-size: 1.2em;
	}
	.featureDescriotion{
		font-size: 1em;
	}
	.challengeDesription{
		font-size: 1em;
	}
	.solutionDescription{
		font-size: 1em;
	}
	.website{
		font-size: 1.2em;
	}
	iframe{
		display: block;
    width: -webkit-fill-available;
    height: 630px;
    margin-bottom: 3%;
	}
   
  }

  @media screen and (max-width:2000px) {
  
    
    }

  @media screen and (max-width:1000px) {
	.imageGrid img {
		width: 50%;
	  }
    
    }

  @media screen and (max-width:800px) {
	.imageGrid img {
		width: 100%;
	  }
    
    }
    @media screen and (max-width:600px) {
     
    
    }
    
    @media screen and (max-width:400px) {
      
    
    }
  

[data-am-linearrow] {
	position: fixed;
	cursor: pointer;
    width: ((30px * 2) - (30px * 0.3));
    height: (5px * 0.3);
    box-sizing: content-box;
    .line {
      position: absolute;
      top: 10%;
      margin-top: -((20px * 0.3) / 2);
      height: 15px;
      width: 3px;
      //border-radius: (20px * 0.3);
      background-color: #ccc;
      transition: transform 300ms ease,
        background-color 300ms ease;
	}
	.line-1 {
		//right: 50%;
		margin-top: (10px);
	}
	.line-2 {
		//left: 50%;
		margin-bottom: -(10px);
	}
	&:hover,
	&:focus {
		.line-1 {
			margin-top: 10px;
			transform:rotate(-45deg);
		}
		.line-2 {
			transform:rotate(45deg);
  			margin-top: 1px;
		}
	}
	&:focus {
		outline: none;
		.line {
			background-color: darken(#ccc, 20%);
		}
	}
}

[data-am-linearrow~="inverted"] {
	&:hover,
	&:focus {
		.line-1 {
			transform: rotate(-(25deg));
		}
		.line-2 {
			transform: rotate(25deg);
		}
	}
}

[data-am-linearrow~="tooltip"] {
	&:after {
		content: attr(display-name);
		white-space: nowrap;
		// position: absolute;
		// left: 50%;
		transform: translateX(-50%);
		transition: opacity 300ms ease-out, color 300ms ease;
	  opacity: 0;
		color: #ccc;
	}
	&:hover,
	&:focus {
		&:after {
			opacity: 1;
		}	
	}
	&:focus {
		&:after {
			color: darken(#ccc, 20%);	
		}
	}
}

[data-am-linearrow~="tooltip-top"] {
	&:after {
		bottom: 100%;	
	}
}

[data-am-linearrow~="tooltip-bottom"] {
	&:after {
		top: 100%;
		margin-left: -25px;	
	}
}

button {
	border: none;
	background-color: transparent;
}