// $img-dir: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/";
// $waves: 7;
$color-body: #231f20;

html, body {
   // height: 100%;
    background: white;
  }
  
  #page-container {
    
    //min-height: 100%;
  }
  
  #content-wrap {
    //padding-bottom: 2.5rem;    /* Footer height */
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grayBox{
    // width: 83%;
    // height: 83px;
    // background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(21%, rgba(255, 255, 255, 0)));
    // position: fixed;
    // top: 31%;
    // margin-left: -3%;
  }
  
  .box {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    // top: -9%;
    bottom: 0px;
    margin-left: -11%;
    transform: rotate(-180deg);
  }
  
  .wave {
    opacity: 0.4;
    position: absolute;
    top: -33%;
    left: 12%;
    background: #5d6e80;
    width: 113vh;
    height: 105vh;
    margin-top: -197px;
    -webkit-transform-origin: 50% 48%;
    transform-origin: 50% 48%;
    border-radius: 39%;
    animation: drift 3000ms infinite linear;
    -webkit-animation: drift 3000ms infinite linear;
    animation: drift 3000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .2;
    background: red;
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(white, 1), rgba(white, 0) 99%, rgba(white, .5));
    //z-index: 11;
    transform: translate3d(0, 0, 0);
    // content: '';
    // display: block;
    // left: 0;
    // top: 0;
    // width: 70%;
    // height: 100%;
    // background: linear-gradient(to bottom, rgba(white, 1), rgba(#def, 0) 99%, rgba(white, .5));
    // //linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    // z-index: 11;
    // //transform: translate3d(0, 0, 0);
    // transform: translate(50px, 20px) ;
  }
  
  .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    //z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
  }
 
// ______________________________________________________________________
  // .wave {
  //   position: absolute;
  //   right: 0; bottom: 0; left: 0;
  //   width: 100%;
  //   height: 100%;
  //   transform: translate3d(0, 0, 0);
  //   @for $i from 1 through $waves {
  //     $wave-delay: $i * .2s;
  //     $wave-duration: 1s;
  //     $float-duration: 3s;
  //     &--#{$i} {
  //       background: url(#{$img-dir}wave_#{$i}.png) bottom center no-repeat;
  //       background-size: 100%;
  //       z-index: -$i + 1 + $waves;
  //       animation: 
  //         waveBounceIn $wave-duration $wave-delay ease-out forwards,
  //         waveFloat $float-duration ease-in-out forwards infinite;
  //         //drift 3000ms infinite linear;
  //     }
  //   }
  // }
  
  @keyframes waveBounceIn {
    0% { transform: translateY(100%); }
    50% { transform: translateY(0); }
    100% { transform: translateY(12px); }
  }
  
  @keyframes waveFloat {
    0% { transform: translateY(12px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(12px); }
  }

  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  @keyframes show {
    50% {
      transform:  rotate(75deg);
      background-color: rgba(250, 0, 30, .3);
      border-radius: 250px 0;
    }
  }

  //other wave options 
  // .Mnt1{
  //   background-image: url('images/Mtn1.svg');
  // }
  // .Mnt2{
  //   background-image: url('images/Mtn2.svg');
  // }
  // .Mnt3{
  //   background-image: url('images/Mtn3.svg');
  // }
  // .Mnt4{
  //   background-image: url('images/Mtn4.svg');
  // }
  // .Mnt5{
  //   background-image: url('images/Mtn5.svg');
  // }
  // .Mnt6{
  //   background-image: url('images/Mtn6.svg');
  // }
  // .Mnt7{
  //   background-image: url('images/Mtn7.svg');
  // }
  // .Mnt8{
  //   background-image: url('images/Mtn8.svg');
  // }