<div class="row">
    <div class="col-md-9 offset-md-1">
        <blockquote class= "blockquote">
            <p class="mb-0 h3 display-4"> Image Uploader</p>
            <footer class="blockquote-footer">
                with <cite title="Source Title"> Firebase Storage</cite>
            </footer>
            <div class="card" style="width: 25rem">
                <div class="card-body">
                    <form [formGroup] = "formTemplate" (submit)="onSubmit(formTemplate.value)">
                        <div class="text-center">
                            <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
                        </div>
                        <div class="form-group">
                            <label>Select file to upload</label>   
                            <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">  
                            <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.</div>          
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="description" placeholder="Please add a description.">    
                            <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is required.</div>         
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="title" placeholder="Please add a title.">   
                            <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is required.</div>                
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="dateCreated" placeholder="Please add a year this work was created.">    
                            <div class="text-danger" *ngIf="isSubmitted && formControls.dateCreated.errors?.required">This field is required.</div>         
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="tag" placeholder="Please add a tag to link different images to the same documentation of work."> 
                            <div class="text-danger" *ngIf="isSubmitted && formControls.tag.errors?.required">This field is required.</div>               
                        </div>
                        <div class="form-group">
                            <select formControlName="creatorsOfWork" class="form-control">
                                <option value="Art" selected>Art</option>
                                <option vlaue="Work">Work</option>
                                <option value="Collaboration">Collaboration</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <span>Is this the main image?</span>
                            <select formControlName="isMainImage" class="form-control">
                                <option value="true" selected>true</option>
                                <option vlaue="false">false</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select formControlName="medium" class="form-control">
                                <option value="Video" selected>Video</option>
                                <option vlaue="Sculpture">Sculpture</option>
                                <option vlaue="Sketch">Sketch</option>
                                <option vlaue="Installation">Installation</option>
                                <option vlaue="Form/Sound">Form/Sound</option>
                                <option vlaue="Generative Code">Generative Code</option>
                                <option vlaue="netArt">netArt</option>
                                <option vlaue="Website">Website</option>
                                <option vlaue="Photography">Photography</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <a [routerLink]= "['/image']" class="btn btn-primary btn-block float-right">Go to Gallery</a>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </blockquote>
    </div>
</div>