<div class="container">
    <!-- <div *ngIf="showLoading">
        <app-loading-spinner></app-loading-spinner>
    </div> -->
    <div class= "row images" *ngIf="imageList && !showLoading" >
        <div *ngFor= "let image of imageList | filter: filterText" class="image">
            <div *ngIf="image.isMainImage == 'true'" [hover]="image" >
                <a [routerLink]="['/image/selected', image.tag]" class = "imagebox">
                    <div [ngStyle]="{'overflow':'hidden'}"  [ngClass]="image.isHovered === false ? 'normalImg' : 'zoomOut' ">
                        <img  appPreLoading alt="" [src]="image.imageUrl" >
                    </div>  
                    <div [ngClass]="image.isHovered === false ? 'shadowShow' : 'shadowDontShow'" ></div> 
                    <div [ngClass]="image.isHovered === false ? 'textShow' : 'textDontShow' ">{{image.tag}} </div> 
                </a>  
            </div>    
        </div>
    </div>
</div>
<!-- width="350" height="250"style="display: block; float: left; flex: 0 0 auto; background-color: #fff; padding: 0 2px 4px 2px; -->

<!-- width="350" height="250" style=" display: block; float: left; flex: 0 0 auto; background-color: #fff; padding: 0 2px 4px 2px;
                            -webkit-transform: scale(1.5);
                            transform: scale(1.5);
                            -webkit-transition: .3s ease-in-out;
                            transition: .3s ease-in-out; " -->