
.container {
  width:90%;
  max-width: 1300px;
  margin: 2em auto;
  overflow:hidden;

    .grid{

      .image{

        .cell {
      
          float:left;
          position: relative;
          padding: .5em;
          
          .imageBox{

            position: relative;
              /*Zoom Out*/
            .normalImg img{
              background-color: rgba(0, 0, 0, 0);
              -webkit-transform: scale(1.5);
              transform: scale(1.5);
              -webkit-transition: .3s ease-in-out;
              transition: .3s ease-in-out, background-color 300ms linear;
            }
            .zoomOut img {
              background-color: rgba(0, 0, 0, .5);
              -webkit-transform: scale(1);
              transform: scale(1);
              -webkit-transition: .3s ease-in-out;
              transition: .3s ease-in-out, background-color 300ms linear;
            }
            .textShow  {
              color: rgba(255, 255, 255, 0);
              font-family: helvetica;
              position: absolute;
              z-index: 999;
              margin: 0 auto;
              left: 0;
              right: 0;
              top: 87%;
              text-align: center;
              width: 49%;
              transform: translate(-50%, -50%);
              transition: color 300ms linear;
            // z-index: 100;
            }
            .textDontShow  {
              color: rgba(255, 255, 255, 1);
              font-family: helvetica;
              position: absolute;
              z-index: 999;
              margin: 0 auto;
              left: 0;
              right: 0;
              top: 87%;
              text-align: center;
              width: 49%;
              transform: translate(-50%, -50%);
              transition: color 300ms linear;
              //z-index: 100;
            }
            .shadowDontShow{
              background-color: rgba(0, 0, 0, .5);
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
              z-index: 0;
              transition: background-color 300ms linear;
            }
            .shadowShow{
              background-color: rgba(0, 0, 0, 0);
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              z-index: 0;
              transition: background-color 300ms linear;
            }
          }
        }
      }
    }
  }

  .cell img {
    width: 100%;
    // min-height: 12em;
    line-height: 1.2;
    display: inline-block;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width:3000px) {
  
    .cell {
      width:20%;
    }
    .cell img {
      width:100%;
      min-height: 9em;
    }
    .textShow{
      font-size: .5em;
    }
    .textDontShow{
      font-size: .5em;
    }
  
  }

  @media screen and (max-width:2000px) {
  
      .cell {
        width:23%;
      }
      .cell img {
        width:100%;
        min-height: 11em;
      }
      .textShow{
        font-size: .8em;
      }
      .textDontShow{
        font-size: .8em;
      }
    
    }

  @media screen and (max-width:1000px) {
  
      .cell {
        width:33.3%;
      }
      .cell img {
        width:100%;
        min-height: 12em;
      }
      .textShow{
        font-size: 1em;
      }
      .textDontShow{
        font-size: 1em;
      }
    
    }

  @media screen and (max-width:800px) {
      
      .cell {
        width:50%;
      }
      .cell img {
        width:100%;
        min-height: 12em;
      }
      .textShow{
        font-size: .7em;
      }
      .textDontShow{
        font-size: .7em;
      }
    
    }
    @media screen and (max-width:600px) {
      
      .cell {
        width:50%;
      }
      .cell img {
        width:100%;
        min-height: 9em;
      }
      .textShow{
        font-size: .7em;
      }
      .textDontShow{
        font-size: .7em;
      }
    
    }
    
    @media screen and (max-width:400px) {
      .cell {
        width:40%;
      }
      .cell img {
        width:100%;
        min-height: 5em;
      }
      .textShow{
        font-size: .8em;
      }
      .textDontShow{
        font-size: .8em;
      }
    
    }
    
    



.gradient {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #fafafa 8%, #b8b8b8 38%, #fafafa 54%);
  background-size: 1000px 640px;
  
  position: relative;
  
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

