
<div style="position: fixed; z-index:2 !important; height: 58px; width: 100%;" class="animate fadeInLeft two" #topPage>
    <app-main-menu></app-main-menu>
</div>

<div class="wholeBody " cdkScrollable>
    <div class="">
        <div class="row scrollWrapper">
            <div>
                <div>
                    <div class="row section">
                        <div>
                            <div [appAnimateWithScroll]='animate2' [animateStart]="100" [animateEnd]="600" >
                                <div class="ball-container">
                                    <div class='wave -three'></div>
                                    <div class='wave -two'></div>
                                </div> 
                            </div>
                            <div [appAnimateWithScroll]='animate1' [animateStart]="100" [animateEnd]="600">
                                <div class="ball-container">
                                    <div class='wave -four'></div>
                                    <div class='wave -five'></div>
                                </div>
                            </div> 
                        </div>
                       <!-- <div style="height: 10px;"></div> -->
                        <div class="container23">
                            <div class="row23">
                              <div class="cell ">
                                <div class="header23">
                                  <div class="menu23 black">Brianna Ondris - Immersive Developer and Digital Artist</div>
                                </div>
                                
                              </div>
                            </div>
                            <div class="row23">
                              <div class="cell">
                                <div class="recLineHor"></div>
                                <div class="content23">
                                    
                                  <div class="menu23 white">Brianna Ondris - Immersive Developer and Digital Artist</div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- <div style="margin-left: 25%;" class="recLineHor text-center"></div> -->
                        <div class="socialMediaWrapper">
                            <div class="socialMediaTop">
                                <li class="linkdinLink">
                                    <a class="underline" target="_blank" href="https://www.linkedin.com/in/brianna-ondris-802754108/" rel="https://www.linkedin.com/in/brianna-ondris-802754108/"> <span>Lk</span> </a>  
                                </li> 
                                <li class="instaLink">
                                    <a class="underline" target="_blank" href="https://www.instagram.com/blurs.bri/" rel="https://www.instagram.com/blurs.bri/" > <span>In</span> </a>  
                                </li>
                                <li class="gitLink"> 
                                    <a class="underline" target="_blank" href="https://github.com/briondris" rel="https://github.com/briondris"><span>Git</span></a>
                                </li>
                            </div>
                        </div>
                    </div>
                   

                    <div class="row introSection">
                        <div class="col-3"></div>
                        <div class="col-3 introTextSkills">
                            <div class="row">
                                <div class="skillsTitle">
                                    <span>Skills</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="skillsList">
                                    <li>Unity Dev</li>
                                    <li>Unreal Dev</li>
                                    <li>Front End Web</li>
                                    <li>Back End</li>
                                    <li>Admin Systems</li>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 introTextMe">
                            <div class="row">
                                <div class="myIntroTitle">
                                    <span>Insight on Me</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="meIntro">
                                    <span>
                                        I am a Web and Unity developer, human-centered designer, and artist from the United States. I grew up in northern New Jersey and pursued a BFA degree in Kinetic Imaging from Virginia Commonwealth University, graduating in 2017. Today, I am an Immersive Engineer and a freelance artist in Washington, D.C. / NYC .
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>

                    <div #currentTarget class="sectionPadding"></div>
                    <div class="row currentSection">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="mostCurrent text-center">
                                <p> Most Current </p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                        <p [routerLink] = "['/image/selected/Wave Series']" style="margin-left: -4%;" class="text-left mostCurrentSubjects mousePointer">Wave Series</p>
                                    <div class="row" [routerLink] = "['/image/selected/Wave%20Series']">
                                        <iframe  src="https://www.youtube.com/embed/yQslAdbD2K4?list=PLmUSY1nj7cgpjcKbPv3K1gppElp7rqg7h&autoplay=1&loop=1&mute=1"  frameborder="0" allowfullscreen></iframe>
                                    </div>
                                       <p style="margin-top: 1rem;" class="text-right mostCurrentSubjects mostCurrentNews">News</p> 
                                </div>
                                <!-- <div class="col-1 d-flex justify-content-center"> -->
                                <div class="col-1">
                                    <div class="recLine"></div>
                                </div>
                                <div class="col-4">
                                    <div class="parNews">
                                        <span>2020</span>
                                        <li> 01/16 - 02/01 VCU Alumni Gallery Exibit Pirate Utopias</li>
                                        <span>2019</span>
                                        <li> 12/14 Art Photographer for 1708 Gallery Monster Drawing Rally</li>
                                        <li> 11/15 - 11/23 Student Volunteer For Siggraph Asia Conference</li>
                                        <li> 10/13 Fair Volunteer for Futures Pitch Day Hackathon</li>
                                        <li> 08/21 - 09/05 Voicing Han user testing at VCU Massey Cancer Center</li>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div #aboutTarget class="sectionPadding"></div>
                    <div class="row aboutSection">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="aboutName text-center">
                                 <span> About </span>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="row aboutTextBox">
                                        <div class="par" *ngIf="isAboutDevSelected == true"> 
                                            <span>Today I'am an engineer at BrightLine Interactive. I gained experience as a full-stack developer working at an  array of companies, start ups, and non profits. My professional experience has allowed me to gain a variety of skills in full-stack development, VR and AR technologies, visual communication, and collaboration. I know that my passion for work is achieved when I translate between the program and the designed experience.</span> 
                                        </div>
                                        <div class="par" *ngIf="isAboutArtSelected == true">
                                            <span> I create interactive experiences that invite you to play at the edges of the unknown. I am driven by a deep curiosity to find the unseen choreographed patterns that make up the fantastic rituals in the everyday world.  In my work, I explore digital puppets, femininity, and cyborgs. My personal and curated pieces continue to push the interaction between digital space and our own to discover territory where something human can unfold between the two worlds.
                                            </span> 
                                        </div>
                                    </div>
                                    <p *ngIf="isAboutDevSelected == true" class="text-right aboutSubjects title">Industry</p>
                                    <p *ngIf="isAboutArtSelected == true" class="text-right aboutSubjects title">ArtSpace</p>
                                    <div class="row">
                                        <div class="col-5"></div>
                                        <div (click)="AboutDev()" class="col-1 ">
                                            <div  [ngClass]="isAboutDevSelected == false ? 'circleShape' : 'circleShapeSelected' "></div>
                                        </div>
                                        <div  (click)="AboutArt()" class="col-1">
                                            <div [ngClass]="isAboutArtSelected == false ? 'circleShape' : 'circleShapeSelected' "></div>
                                        </div>
                                        <div class="col-5"></div>
                                    </div>
                                    <!-- circles -->
                                </div>
                                <!-- <div class="col-1 d-flex justify-content-center"> -->
                                <div class="col-1">
                                    <div class="recLineAbout"></div>
                                </div>
                                <div class="col-6">
                                        <p class="aboutSubjects text-right">
                                            Who I am
                                        </p>
                                    <div class="row videoToleft">
                                        <iframe width="800" height="300"  src="https://www.youtube.com/embed/aoUAN9HZ2go?list=PLmUSY1nj7cgpflyqY2IRcxSZ5v8gvLC_6&autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>

                        <div class="col-2"></div>
                    </div>
                    <!-- <div class="row contactTop"></div> -->
                    <div #infoTarget>
                        <app-information-contact ></app-information-contact>
                        <div class="" style="background-color: darkgray;">
                            <button data-am-linearrow="tooltip tooltip-top" (click)="scroll(topPage)" display-name="Scroll to Top">
                                <div class="line line-1"></div>
                                <div class="line line-2"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

