// whole page bounds ///////////////////////
.wholeBody{
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
.scrollWrapper {
  height: 100%;
  overflow-x: hidden;
}
li{
  list-style: none;
}
a {
  font-family: 'Helvetica Neue';
  color: inherit;
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
}
iframe{
  display: block;
  width: -webkit-fill-available;
  height: 300px;
}

.recLineHor{
  height: 2px;
  width: 40%;
  background: gray;
 margin-left: 10%;
}
.circleShape{
  cursor: pointer !important;
    width: 8px;
    height: 8px;
    border-color: gray;
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;
}
.circleShapeSelected{
  // margin-top: 3px;
  cursor: pointer !important;
  width: 8px;
  height: 8px;
  border-color: gray;
  border-width: 1px;
  border-radius: 50%;
  border-style: solid;
  background: gray;
}
.mousePointer{
  cursor: pointer;
}
@media screen and (max-width:3000px) {
  
  .menu23{
    font-size: 3.5em;
  }
  .socialMediaTop, .skillsTitle, .myIntroTitle{
    font-size: 1.5em;
  }
   //line
   .recLine{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    margin-left: 20px;
    display: flex !important;
    justify-content: center !important;
  }
  .recLineAbout{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
  }
  .socialMediaWrapper{
    right: -35%;
  }
  .skillsList li{
    font-size: 2.3em;
  }
  //intro///////////////////////////////////////
  .introSection{
    height: 99vh;
    padding-top: 15%;
  }
  .meIntro{
    font-size: 1.5em;
  }
  //most current 
  .sectionPadding{
    width: 100%; 
    margin-bottom: 10%;
  }
  .currentSection{
    height: 100vh;
    display: flex;
  }
  .mostCurrent{
    font-size: 1.3em;
  }
  .mostCurrentSubjects{
    font-size: 2.3em;
    width: 104%;
  }
  .parNews{
    margin-top: 25px;
  }
  .parNews span{
    font-size: 1.3em;
  }
  .parNews li{
    font-size: 1em;
    margin-left: 15px;
  }
  //about
  .aboutSection {
    display: flex;
   // align-items: center;
    //justify-content: center;
    height: 115vh;
  }
  .aboutName{
    font-size: 1.3em;
  }
  .aboutSubjects{
    font-size: 2.3em;
  }
  .aboutTextBox{
    margin-top: 20px; 
    width: 290px;
    height: 345px;
    font-size: 1.2em;
  }

}

@media screen and (max-width:2000px) {
 
  .menu23{
    font-size: 3.2em;
  }
  .socialMediaTop, .skillsTitle, .myIntroTitle{
    font-size: 1em;
  }
   //line
   .recLine{
    height: 50%;
    width: 3px;
    margin-left: 20px;
    background: gray;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
  }
  .recLineAbout{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
  }
  .socialMediaWrapper{
    right: -26%;
  }
  .skillsList li{
    font-size: 2.3em;
  }
  //intro///////////////////////////////////////
  .introSection{
    height: 99vh;
    padding-top: 15%;
  }
  .meIntro{
    font-size: 1.3em;
  }
  .introTextSkills{
    margin-left: -25px;
  }
  .introTextMe{
    margin-left: 25px;
  }
  //most current 
  .mostCurrent{
    font-size: 1.3em;
  }
  .mostCurrentSubjects{
    font-size: 2.3em;
    width: 104%;
  }
  .parNews{
    margin-top: 25px;
  }
  .parNews span{
    font-size: 1.3em;
  }
  .parNews li{
    font-size: 1.1em;
    margin-left: 15px;
  }
  //about
  .aboutName{
    font-size: 1.3em;
  }
  .aboutSubjects{
    font-size: 2.3em;
  }
  .aboutTextBox{
    margin-top: 20px;
    width: 263px;
    height: 345px;
    font-size: 0.98em;
  }
  
}

@media screen and (max-width:1000px) {
 
  .menu23{
    font-size: 3em;
  }
  .socialMediaTop,.skillsTitle, .myIntroTitle{
    font-size: .8em;
  }
   //line
   .recLine{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    margin-left: 20px;
    display: flex !important;
    justify-content: center !important;
  }
  .recLineAbout{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
  }
  .socialMediaWrapper{
    right: -22%;
  }
  .skillsList li{
    font-size: 2.1em;
  }
  //intro///////////////////////////////////////
  .introSection{
    height: 99vh;
    padding-top: 15%;
  }
  .meIntro{
    font-size: 1em;
  }
  .introTextSkills{
    margin-left: -25px;
  }
  .introTextMe{
    margin-left: 25px;
  }
  //most current 
  .mostCurrent{
    font-size: 1.3em;
  }
  .mostCurrentSubjects{
    font-size: 2.3em;
    width: 104%;
  }
  .parNews{
    margin-top: 25px;
  }
  .parNews span{
    font-size: 1.3em;
  }
  .parNews li{
    font-size: 0.8em;
    margin-left: 15px;
  }
  //about
  .aboutName{
    font-size: 1.3em;
  }
  .aboutSubjects{
    font-size: 2.3em;
  }
  .aboutTextBox{
    margin-top: 20px;
    width: 200px;
    height: 345px;
    font-size: 0.83em;
  }
  
}

@media screen and (max-width:800px) {
    
  .menu23{
    font-size: 2em;
  }
   //line
   .recLine{
    height: 50%;
    width: 3px;
    background: gray;
    margin-left: 18px;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
  }
  .recLineAbout{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
  }
  .socialMediaTop, .skillsTitle, .myIntroTitle{
    font-size: .7em;
  }
  .socialMediaWrapper{
    right: -15%;
  }
  .skillsList li{
    font-size: 1.8em;
  }
  //intro///////////////////////////////////////
  .introSection{
    height: 99vh;
    padding-top: 15%;
  }
  .meIntro{
    font-size: .9em;
  }
  .introTextSkills{
    margin-left: -15px;
  }
  .introTextMe{
    margin-left: 15px;
  }
  //most current 
  .mostCurrent{
    font-size: 1.3em;
  }
  .mostCurrentSubjects{
    font-size: 2.3em;
    width: 104%;
  }
  .parNews{
    margin-top: 25px;
  }
  .parNews span{
    font-size: 1.3em;
  }
  .parNews li{
    font-size: 0.7em;
    margin-left: 15px;
  }
  //about
  .aboutName{
    font-size: 1.3em;
  }
  .aboutSubjects{
    font-size: 2.3em;
  }
  .aboutTextBox{
    margin-top: 20px;
    width: 156px;
    height: 345px;
    font-size: 0.75em;
  }
  
}
@media screen and (max-width:600px) {
    
  .menu23{
    font-size: 2em;
  }
  .socialMediaTop, .skillsTitle, .myIntroTitle{
    font-size: .6em;
  }
   //line
   .recLine{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    margin-left: 16px;
    display: flex !important;
    justify-content: center !important;
  }
  .recLineAbout{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
  }
  .socialMediaWrapper{
    right: -5%;
  }
  .skillsList li{
    font-size: 1.6em;
  }
  //intro///////////////////////////////////////
  .introSection{
    height: 99vh;
    padding-top: 15%;
  }
  .meIntro{
    font-size: .8em;
  }
  .introTextSkills{
    margin-left: -5px;
  }
  .introTextMe{
    margin-left: 5px;
  }
  //most current 
  .mostCurrent{
    font-size: 1.3em;
  }
  .mostCurrentSubjects{
    font-size: 2.3em;
    width: 104%;
  }
  .parNews{
    margin-top: 25px;
  }
  .parNews span{
    font-size: 1.3em;
  }
  .parNews li{
    font-size: 0.6em;
    margin-left: 15px;
  }
  //about
  .aboutName{
    font-size: 1.3em;
  }
  .aboutSubjects{
    font-size: 2.3em;
  }
  .aboutTextBox{
    margin-top: 20px;
    width: 135px;
    height: 345px;
    font-size: 0.7em;
  }
  
}
@media screen and (max-width:500px) {
    
  .menu23{
    font-size: 2em;
  }
  .socialMediaTop, .skillsTitle, .myIntroTitle{
    font-size: .5em;
  }
  //line
  .recLine{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
    margin-left: 14px;
  }
  .recLineAbout{
    height: 50%;
    width: 3px;
    background: gray;
    margin-top: 99px;
    display: flex !important;
    justify-content: center !important;
  }
  //intro///////////////////////////////////////
  .introSection{
    height: 99vh;
    padding-top: 15%;
  }
  .socialMediaWrapper{
    right: -21%;
  }
  .skillsList li{
    font-size: 1.2em;
  }
  .meIntro{
    font-size: .7em;
  }
  .introTextSkills{
    margin-left: -10px;
  }
  .introTextMe{
    margin-left: 25px;
  }
  //most current 
  .mostCurrent{
    font-size: 0.9em;
  }
  .mostCurrentSubjects{
    font-size: 1.5em;
    width: 104%;
  }
  .parNews{
    margin-top: 25px;
  }
  .parNews span{
    font-size: 0.9em;
  }
  .parNews li{
    font-size: 0.5em;
    margin-left: 10px;
  }
  //about
  .aboutName{
    font-size: 0.9em;
  }
  .aboutSubjects{
    width: 104%;
  }
  .aboutSubjects{
    font-size: 1.5em;
  }
  .aboutTextBox{
    margin-top: 20px;
    width: 110px;
    height: 345px;
    font-size: 0.62em;
  }
  
}
  
@media screen and (max-width:400px) {
    
  .menu23{
    font-size: 1.6em;
  }
  .socialMediaTop, .skillsTitle, .myIntroTitle{
    font-size: .8em;
  }
  ///line
  .recLine{
    height: 50%;
    width: 3px;
    background: gray;
    margin-left: -35px;
    // margin-top: 99px;
    margin-top: 50px;
  }
  .recLineAbout{
    height: 50%;
    width: 3px;
    background: gray;
    margin-left: 25px;
    // margin-top: 99px;
    margin-top: 50px;
  }
  //intro////////////////////////////
  .introSection{
    padding-top: 35%;
    height: 79vh;
  }
  .socialMediaWrapper{
    right: -20%;
  }
  .skillsList li{
    font-size: 0.8em;
  }
  .meIntro{
    font-size: .5em;
  }
  .introTextSkills{
    //margin-left: -90px;
  }
  .introTextMe{
    //margin-left: -36px;
  }
  //most current/////////////////////////////////////
  .sectionPadding{
    width: 100%; 
    margin-bottom: 20%;
  }
  .currentSection{
    height: 80vh;
    display: flex;
  } 
  .mostCurrent{
    font-size: 0.8em;
  }
  .mostCurrentSubjects{
    font-size: 1em;
    width: 0%;
    margin-left: -550px;
  }
  .mostCurrentNews{
    margin-left: -50px;
  }
  .parNews{
   width: 220%;
    //height: 10px;
    //margin-top: 25px;
    margin-left: -45px;
  }
  .parNews span{
    font-size: 0.7em;
  }
  .parNews li{
    font-size: 0.6em;
    //margin-left: -5px;
  }
  //about///////////////////////////////////////////////
  .aboutSection {
    display: flex;
   // align-items: center;
    //justify-content: center;
    height: 80vh;
  }
  .aboutName{
    font-size: 0.8em;
  }
  .aboutSubjects{
    font-size: 1em;
  }
  .aboutTextBox{
    margin-top: 20px;
    width: 120px;
    height: 270px;
    font-size: 0.55em;
  }
  iframe{
    display: block;
    width: 100px;
    height: 100px;
  }
  .videoToleft{
    margin-left: 25px;
  }
}

// Nav Menu /////////////////////////////////////////
@mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #000) {
  @if $dir == null {
      $dir: 'center';
  }
  position: relative;
  display: inline-block;
  text-decoration: none;
  &::after {
      position: absolute;
      left: 0;
      content: '';
      width: 100%;
      height: $weight;
      background: $color;
      bottom: $weight * -2;
      transform: scale(0, 1);
      transition: transform .3s;
      transform-origin: right top;
  }
  &:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
  }
}
.underline {
  @include hover-underline('slide', 'left-in-right');
}

// circle animation on whole page ///////////////////////
.ball-container {
  position: absolute;
  // transform: translate3d(0, 0, 0);
  top: 140px;
  z-index: -10;
  bottom: 0;
  // width: 100%;
  // height: 100%;
}
.ballContainer::after {
  content: "";
  // width: 300%;
  // height: 200%;
  display: block;
  transform: translate3d(0, 0, 0);
}
.wave {
  opacity: 0.4;
  position: fixed;
  background: #5d6e80;
  width: 71vh;
  height: 62vh;
  -webkit-transform-origin: 50% 48%;
  transform-origin: 50% 48%;
  border-radius: 39%;

  transform: rotate(1deg);
  // animation: driftMain 3000ms linear 0.1s infinite;
  // animation: driftMain 3000ms infinite linear;
  -webkit-animation: driftMain 3000ms infinite linear;
   animation: driftMain 3000ms infinite linear;
  -moz-animation: driftMain 3000ms infinite linear;

  left: calc(-55vw + 50%);
  right: calc(-50vw + 50%);
  margin-left: auto;
  margin-right: auto;
}
.wave.-three {
  animation: driftMain 5000ms infinite linear;
  transform: rotate(211deg);
}
.wave.-two {
  animation: driftMain 7000ms infinite linear;
  transform: rotate(310deg);
  opacity: .2;
  background: red;
}
.wave.-four {
  animation: driftMain 6500ms infinite linear;
  transform: rotate(270deg);
  opacity: .4;
  background: #5d6e80;
}
.wave.-five {
  animation: driftMain 3800ms infinite linear;
  transform: rotate(210deg);
  opacity: .2;
  background: red;
}

@keyframes driftMain {
  0% { transform: rotate(0deg); }
  1% { transform: rotate(1deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes driftMain {
  0% { -webkit-transform: rotate(0deg); }
  1% { -webkit-transform: rotate(1deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes driftMain {
  0% { -moz-transform: rotate(0deg); }
  1% { -moz-transform: rotate(1deg); }
  100% { -moz-transform: rotate(360deg); }
}
// title intro on Brianna Ondris Top page  ///////////////////////
.container23 {
  z-index: -2;
  overflow:hidden;
  display: table;
  width: 61%;
  height: 118%;
}
.row23 {
  overflow-y:scroll;
  display: table-row;
}
.cell {
  display: table-cell;
  position: relative;
  height: 70%;
}
.header23,.content23 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4%;
  box-sizing: border-box;
  clip: rect(auto, auto, auto, auto);
}
.menu23 {
 font-family: 'Helvetica Neue';
  position: fixed;
  top: 22%;
  left: 7%;
  width: 55%;
}
.white {
  color: white;
}
.black {}

// Top Section /////////////////////////////////////////
.section {
  display: flex;
 // align-items: center;
  //justify-content: center;
  height: 90vh;
}
.socialMediaWrapper{
  position: relative;
}
.socialMediaTop{
  font-family: 'Helvetica Neue';
  position: absolute;
  /* position: relative; */
  z-index: 10;
  top: 10;
  top: 124px;
}
.linkdinLink{
  color: grey;
  margin-bottom: 25px;
}
.linkdinLink :hover{
  color: #333;
}
.instaLink{
  color: grey;
  margin-bottom: 25px;
}
.instaLink :hover{
  color: #333;
}
.gitLink{
  color: grey;
}
.gitLink :hover{
  color: #333;
}
// Basic Intro On Brianna  ///////////////////////
.introSection{
  display: flex;
}

.skillsTitle, .myIntroTitle{
  font-family: 'Helvetica Neue';
  margin-bottom: 10px;
}
.skillsList li{
  margin-bottom: 3px;
  font-family: 'Helvetica Neue';
}
.meIntro{
  font-family: 'Helvetica Neue';
}

// Most Current Activitie On Brianna  ///////////////////////

.mostCurrent{
  font-family: 'Helvetica Neue';
}
.mostCurrentSubjects{
  font-family: "Helvetica Neue";
  font-weight: 300;
  width: 104%;
}
.parNews{
  margin-top: 25px;
  text-align: left;
  font-family: 'Helvetica Neue';
}
.parNews span{
  font-family: 'Helvetica Neue';
}
.parNews li{
  list-style: disc !important;
  margin-left: 15px;
}
// About Brianna  /////////////////////////////////////////////////

.aboutSubjects{
  font-family: "Helvetica Neue";
  font-weight: 300;
}
.aboutSubjects{
  //width: 104%;
}
.par{
  margin-top: 25px;
  text-align: left;
  font-family: 'Helvetica Neue';
}
.aboutName{
  font-family: 'Helvetica Neue';
}
// .title{
//   margin-top: 5px;
//   letter-spacing: 1px;
//   margin-left: 13px;
// }


  .parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    background-size:cover;
    /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    /* Keep the image from overlapping sibling elements. */ 
    z-index: -1;
  }

     ///Line used for back to the top arrow 
 
 
 [data-am-linearrow] {
  z-index: 30;
    cursor: pointer;
    position: relative;
    width: 34px;
    height: 23px;
    margin-top: -1px;
    margin-left: 48%;

   .line {
      position: absolute;
      top: -123%;
      margin-top: -200%;
      width: 30px;
      height: (30px* 0.1);
      border-radius: (30px* 0.1);
      background-color: white;
      transition: transform 300ms ease, background-color 300ms ease;
   }
   .line-1 {
      right: 50%;
      margin-right: -((30px* 0.1) / 2);
   }
   .line-2 {
      left: 50%;
      margin-left: -((30px* 0.1) / 2);
   }
   &:hover,
   &:focus {
      .line-1 {
         transform: rotate(-(25deg));
      }
      .line-2 {
         transform: rotate(25deg);
      }
   }
   &:focus {
      outline: none;
      .line {
         background-color: white;
      }
   }
}

[data-am-linearrow~="tooltip"] {
   &:after {
      content: attr(display-name);
    white-space: nowrap;
    position: relative;
    top: -85px;
    left: -30px;
    /* margin-top: 24px; */
    /* right: 140%; */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity 300ms ease-out, color 300ms ease;
    transition: opacity 300ms ease-out, color 300ms ease;
    opacity: 0;
    color: white;
   }
   &:hover,
   &:focus {
      &:after {
         opacity: 1;
      }	
   }
   &:focus {
      &:after {
         color: darken(#ccc, 20%);	
      }
   }
}

[data-am-linearrow~="tooltip-top"] {
   &:after {
      bottom: 10%;	
   }
}

[data-am-linearrow~="tooltip-bottom"] {
   &:after {
      top: 100%;	
   }
}
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.two {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.three {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}

.four {
-webkit-animation-delay: 3.3s;
-moz-animation-delay: 3.3s;
animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


