.animation{
  // display: flex;
  //   justify-content: center;
  //   align-items: center;
}
#content{    
    text-align: center;
    font-size: 1.5rem;
}
.headerWrapper {
    height: 64px;
    width: 100%;
  }
  
  .header {
    position: fixed;
    top: 0;
  }
  .scrollWrapper {
    overflow: auto;
    height: 200vh;
  }
  
  .rectangle {
    height: 58px;
    width: 88%;
    /* background: rgba(1, 1, 1, 0.2); */
    background: lightgray;
    z-index: 10;
}
.rectangleTwo {
    height: 38px;
    width: 88%;
    /* background: rgba(1, 1, 1, 0.2); */
    background: lightgray;
    z-index: 1;
}
.name{
    font-size: 48px;
    font-family: "Geneva";
    margin-left: 111px;
    margin-top: 22px;
    opacity: 0.3;
}
.nameTwo{
    font-size: 18px;
    font-family: "Geneva";
    margin-left: 111px;
    margin-top: 5px;
    opacity: 0.3;
}
.socialMedia{
    font-size: 14px;
    font-family: "Geneva";
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    color: darkgrey !important;
}
.nameIntro{
    margin-left: 115px;
    font-size: 14px;
    color: lightgrey;
}
.mostCurrent{
    // margin-top: 55vh;
    color: white;
    text-align: center;
    font-size: 20px;
    z-index:2;
    margin-top: -140px;
}
.news{
  color: white;
  text-align: center;
  font-size: 20px;
  z-index:2;
}
.newsBox{
  background-color: gray;
  z-index: -18;
  width: 95%;
  height: 35px;
  position: absolute;
}
.currentGrayBox{
  background-color: gray;
  z-index: -18;
  width: 95%;
  height: 13vh;
  position: absolute;
  bottom: 0;
  margin-left: -15px;
}
.aboutWhiteBox{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.9108018207282913) 0%, rgba(191,191,191,0.8911939775910365) 100%);
  z-index: -18;
  width: 95%;
  height: 13vh;
  position: absolute;
  bottom: 0;
  margin-left: -15px;
}
.aboutMeTop{
    height:45vh ;
}
.par{
  // display: -webkit-box;
  // display: inline;
  // position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-size: 1vw;
  text-align: left;
  color: white;
  background-color: gray;
  padding: 10px 10px 10px 10px;
  // border-radius: 6px;
}
.Me{
  margin-left: 15px;
}
.Art{
  margin-left: -16px;
}
// .Dev{
//   height: 55%;
//   top: 150px;
// }

.contactTop{
    height:40vh ;
}

.aboutName{
  margin-bottom: 60px;
  color: white;
    text-align: center;
    font-size: 20px;
    margin-top: -185px;
}
.aboutButtons{
    font-size: 40px;
}
.section {
    display: flex;
   // align-items: center;
    //justify-content: center;
    height: 90vh;
  }
.contactSection {
    display: flex;
    // align-items: center;
    //justify-content: center;
    height: 120vh;
}
.contactButtons {
    font-size: 14px;
    text-align: left;
}
.contactName{
    margin-bottom: 71px;
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.main {
    //max-height: calc(100vh - 0px);
    //overflow-y: scroll;
  }
.c-btn {
    color: gray;
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 100%;
    &:after {
      content: '';
      display: block;
      position: absolute;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
    }
    
    // THIRD BUTTON -------------------------------------------
    &--big-line {
      &:after {
        content: attr(data-hover-name);
        color: white;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: 0;
        transition: all .2s cubic-bezier(.55, 0, .1, 1);
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        transform-origin: right;
        transform: scaleX(0);
        height: 100%;
        width: 100%;
        top: 0;
        background-color: gray;
        transition: transform .6s cubic-bezier(.55, 0, .1, 1);
      }
      &:hover {
        &:after {
          opacity: 1;
          transition: all .3s cubic-bezier(.55, 0, .1, 1);
          transition-delay: .3s;
        }
        &:before {
          transform: scaleX(1);
          transform-origin: left;
          transition: transform .6s cubic-bezier(.55, 0, .1, 1);
        }
      }
    }
  }
.c-btn2 {
    &--big-line2 {
        color: white;
        top: 0;
        display: inline-block;
        position: relative;
        background-color: gray; 
        transform-origin: right;
        transform: scaleX(1);
        opacity: 1;
        transition: all .2s cubic-bezier(.55, 0, .1, 1);
        &:after {
          //content: attr(data-hover-name);
          color: white;
          height: 100%;
          width: 100%;
          top: 0;
          opacity: 0;
          transition: all .2s cubic-bezier(.55, 0, .1, 1);
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          transform-origin: right;
          transform: scaleX(0);
          height: 100%;
          width: 100%;
          top: 0;
          background-color: gray;
          transition: transform .6s cubic-bezier(.55, 0, .1, 1);
        }
        &:hover {
          &:after {
            opacity: 1;
            transition: all .3s cubic-bezier(.55, 0, .1, 1);
            transition-delay: .3s;
          }
          &:before {
            content: '';
            transform: scaleX(1);
            transform-origin: left;
            transition: transform .6s cubic-bezier(.55, 0, .1, 1);
          }
        }
    }
    &::after {
      position: absolute;
      left: 0;
      content: '';
      transform: scale(0, 1);
      transition: transform .3s;
      transform-origin: right top;
  }
  }

  
  [data-am-linearrow] {
    //padding: 15px;
    cursor: pointer;
    width: ((30px * 2) - (30px * 0.3));
    height: (10px * 0.3);
    box-sizing: content-box;
    .line {
      position: absolute;
      top: 50%;
      margin-top: -((20px * 0.3) / 2);
      width: 30px;
      height: (10px * 0.3);
      //border-radius: (20px * 0.3);
      background-color: #ccc;
      transition: transform 300ms ease,
        background-color 300ms ease;
    }
    .line-1 {
      right: 50%;
      margin-right: -((20px * 0.3) / 2);
    }
    .line-2 {
      left: 50%;
      margin-left: -((20px * 0.3) / 2);
    }
    &:hover,
    &:focus {
      .line-1 {
        transform: rotate(-30deg);
      }
      .line-2 {
        transform: rotate(-(-30deg));
      }
    }
    &:focus {
      outline: none;
      .line {
        background-color: darken(#ccc, 20%);
      }
    }
  }
  
  [data-am-linearrow~="inverted"] {
    &:hover,
    &:focus {
      .line-1 {
        transform: rotate(-(-30deg));
      }
      .line-2 {
        transform: rotate(-30deg);
      }
    }
  }
  
  [data-am-linearrow~="tooltip"] {
    &:after {
      content: attr(display-name);
      white-space: nowrap;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 300ms ease-out, color 300ms ease;
      opacity: 0;
      color: #ccc;
    }
    &:hover,
    &:focus {
      &:after {
        opacity: 1;
      }
    }
    &:focus {
      &:after {
        color: darken(#ccc, 20%);
      }
    }
  }
  
  [data-am-linearrow~="tooltip-top"] {
    &:after {
      bottom: 100%;
    }
  }
  
  [data-am-linearrow~="tooltip-bottom"] {
    &:after {
      top: 100%;
    }
  }
  
  //Base styling
  
  button {
    border: none;
    background-color: transparent;
  }

  // html,body,div,video{
   
  // } 
  // #container{position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; } 
  
  video{ 
    // border-radius: 50%;
    // object-fit: cover;
    //background: linear-gradient(to bottom, rgba(white, 1), rgba(white, 0) 99%, rgba(white, .5));
    display: block;
    width: 95%;
    z-index: -18;
    margin-left: 0%;

  }
  .videoForCurrent{
    // content: '';
    // border-radius: 50%;
    // object-fit: cover;
    // display: block;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // background: linear-gradient(to bottom, rgba(white, 1), rgba(white, 0) 99%, rgba(white, .5));
  }
  .h-overlayCurrent{
    height: 82vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    background: linear-gradient(to top, gray, rgba(255, 255, 255, 0) 100%);
    /* opacity: 0.85; */
    z-index: -18;
  }
  .h-overlayAbout{
    height: 82vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    background: linear-gradient(to top, rgba(white, 1), rgba(white, 0) 21%, rgba(white, .5));
    /* opacity: 0.85; */
    z-index: -18;
  }