
<div class="wholeBody " cdkScrollable>
    <div class="">
        <div class="row" #topPage>
            <app-main-menu></app-main-menu>
        </div>
        <div class="row scrollWrapper">
            <div>
                <div>
                    <div class="row section">
                        <div id="topPage" class="topPage"></div>
                        <div >
                            <div [appAnimateWithScroll]='animate2' [animateStart]="100" [animateEnd]="600" class="ball-container">
                                <div class='wave -three'></div>
                                <div class='wave -two'></div>
                               
                            </div>
                            <div [appAnimateWithScroll]='animate1' [animateStart]="100" [animateEnd]="600" class="ball-container">
                                <div class='wave -three'></div>
                                <div class='wave -two'></div>
                            </div> 
                        </div>
                       
                        <div class="container23">
                            <div class="row23">
                              <div class="cell ">
                                <div class="header23">
                                  <div class="menu23 black">Brianna Ondris creates through web/unity development and digital art.</div>
                                </div>
                              </div>
                            </div>
                            <div class="row23">
                              <div class="cell">
                                <div class="content23">
                                  <div class="menu23 white">Brianna Ondris creates through web/unity development and digital art.</div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="socialMediaWrapper">
                            <div class="socialMediaTop">
                                <li class="linkdinLink">
                                    <a class="underline" target="_blank" href="https://www.linkedin.com/in/brianna-ondris-802754108/" rel="https://www.linkedin.com/in/brianna-ondris-802754108/"> <span>Lk</span> </a>  
                                </li> 
                                <li class="instaLink">
                                    <a class="underline" target="_blank" href="https://www.instagram.com/blurs.bri/" rel="https://www.instagram.com/blurs.bri/" > <span>In</span> </a>  
                                </li>
                                <li class="gitLink"> 
                                    <a class="underline" target="_blank" href="https://github.com/briondris" rel="https://github.com/briondris"><span>Git</span></a>
                                </li>
                            </div>
                        </div>
                    </div>
                   

                    <div class="row introSection">
                        <div class="col-3"></div>
                        <div style="margin-left: -25px;" class="col-3">
                            <div class="row">
                                <div class="skillsTitle">
                                    <span>Skills</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="skillsList">
                                    <li>Unity Developer</li>
                                    <li>UI/UX Designer</li>
                                    <li>Front End</li>
                                    <li>Back End</li>
                                    <li>Admin Systems</li>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 25px;" class="col-3">
                            <div class="row">
                                <div class="myIntroTitle">
                                    <span>Insight on Me</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="meIntro">
                                    <span>
                                        Brianna Ondris is a web and Unity developer, human-centered designer, and an artist born in the United States. She grew up in northern New Jersey and in 2013 moved to Virginia to pursue an art degree from Virginia Commonwealth University in the Kinetic Imaging department. Today Ondris works as a freelancer developer and artist in Washington D.C.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                    <div class="row currentSection">
                        <div #currentTarget></div>
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="row">
                                <div style="color: red;" class="mostCurrent">
                                    <span> Most Current </span>
                                </div>
                             </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <span>Wave Serise</span>
                                    </div>
                                    <div class="row">
                                        <iframe width="800" height="300" src="https://www.youtube.com/embed/LRhTX_c174U?list=PLmUSY1nj7cgrfJrCMiQiJm6VOkTMd1srd&autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="row">
                                       <span>News</span> 
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="parNews">
                                        <span>2020</span>
                                        <li> 01/16 - 02/01 VCU Alumni Gallery Exibit Pirate Utopias</li>
                                        <span>2019</span>
                                        <li> 12/14 Art Photographer for 1708 Gallery Monster Drawing Rally</li>
                                        <li> 11/15 - 11-23 Student Volunteer For Siggraph Asia Conference</li>
                                        <li> 10/13 Fair Volunteer for Futures Pitch Day Hackathon</li>
                                        <li> 08/21 - 09-05 Voicing Han user testing at VCU Massey Cancer Center</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row aboutSection">
                        <div #aboutTarget> </div>
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="row">
                                <div class="aboutName">
                                    <span> About </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <!-- *ngIf="isAboutDevSelected == true" -->
                                        <div class="par Dev" > 
                                            <span>In a past life, I worked solely as a full-stack developer for a nonprofit start-up to an insurance corporation.  I found that the most joyful parts of my work were when I was developing and taking risks to include better UI and UX in the projects. Through my experiences I have learned an overarching variety of skills, but most importantly that my place in the working world is to be the translation between the functionality a program and the art and design of how it is to be used.</span> 
                                        </div>
                                        <div class="par" *ngIf="isAboutArtSelected == true">
                                            <span> I create interactive experiences that invite you to play at the edges of the unknown. I am driven by a deep curiosity to find the unseen choreographed patterns that make up the fantastic rituals in the everyday world.  In my work, I explore digital puppets, feminity, and cyborgs. In the work I make and have curated,  I continue to push the interaction between digital space and our own, to discover territory where something truly human can unfold between the two worlds. </span> 
                                        </div>
                                    </div>
                                    <div class="row aboutButtons">
                                        <span>
                                            <div data-hover-name="Industry" class="c-btn c-btn--big-line dev">Industry</div>
                                        </span>
                                        <!-- <div class="c-btn c-btn--big-line art" data-hover-name="ArtSpace">ArtSpace</div> -->
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <span>
                                            Who I am
                                        </span>
                                    </div>
                                    <div class="row">
                                        <iframe width="800" height="300"  src="https://www.youtube.com/embed/LRhTX_c174U?list=PLmUSY1nj7cgrfJrCMiQiJm6VOkTMd1srd&autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <!-- <div class="row contactTop"></div> -->
                    <div class="row contactSection" #infoTarget>
                        <div class="3">
                            <div class="row">
                                <span>Whether you’re looking to collaborate, talk more about my work or just have a conversation, get in touch.</span>
                            </div>
                            <div class="row">
                                <li>
                                    <span>Email</span>
                                </li>
                                <li>
                                    <a href="mailto:bbondris@gmail.com">
                                        <span>bbondris@gmail.com</span>
                                    </a>
                                </li>
                            </div>
                            <div class="row">
                                <li>
                                    <span>Phone</span>
                                </li>
                                <li>
                                    <span>
                                        862.268.0148
                                    </span>
                                </li>
                            </div>
                        </div>
                        <div class="6">
                            <div class="row">
                                <span>Contact</span>
                            </div>
                            <div class="row">
                                <app-main-page-animation></app-main-page-animation>
                            </div>
                            <div class="row">
                                <button data-am-linearrow="tooltip tooltip-bottom" (click)="scroll(topPage)" display-name="Scroll to Top">
                                    <div class="line line-1"></div>
                                    <div class="line line-2"></div>
                                </button>
                            </div>
                        </div>
                        <div class="3">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="mat-elevation-z4"
                                matRipple
                                [matRippleCentered]="centered"
                                [matRippleDisabled]="disabled"
                                [matRippleUnbounded]="unbounded"
                                [matRippleRadius]="radius"
                                [matRippleColor]="color">
                                    <div (click)="openResume()" class="c-btn c-btn--big-line" data-hover-name="View my resume.">View my resume.</div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="mat-elevation-z4"
                                matRipple
                                [matRippleCentered]="centered"
                                [matRippleDisabled]="disabled"
                                [matRippleUnbounded]="unbounded"
                                [matRippleRadius]="radius"
                                [matRippleColor]="color">
                                    <a download="Ondris_Resume" target="_blank" href="/assets/img/OndrisBrianna_Resume_.pdf">
                                        <div class="c-btn c-btn--big-line" data-hover-name="Download my resume.">Download my resume.</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <span>Follow me</span>
                                <div class="">
                                    <span>
                                        Lk
                                    </span>
                                    <span>
                                        In
                                    </span>
                                    <span>
                                        Git
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    
                </div>
            </div>
        </div>
    </div>
</div>

