
<div class="wholeBody" style="">
    <div id="content" >
        <!-- <div class="row">
            <div class="animation col-12" style="z-index: -11;">
                
            </div>
        </div> -->
        <app-main-page-animation></app-main-page-animation>
        <div class="row" #topPage>
            <div class="col-12">
                <div class="headerWrapper">
                    <div class="rectangle row">
                        <div class="col-1"></div>
                        <div class="name col-8">
                            <span >Brianna Ondris</span>  
                        </div>
                        <div class="socialMedia col-3">
                            <a style="color: dimgray;" target="_blank" href="https://www.instagram.com/blurs.bri/" rel="https://www.instagram.com/blurs.bri/" > instagram </a>
                            <a style="color: dimgray;" target="_blank" href="https://www.linkedin.com/in/brianna-ondris-802754108/" rel="https://www.linkedin.com/in/brianna-ondris-802754108/"> linkdin </a>
                            <a  style="color: dimgray;" target="_blank" href="https://github.com/briondris" rel="https://github.com/briondris"> github </a>
                        </div>
                        
                        <div class="nameIntro">
                            <span>Developer, Interactive Designer, and Artist
                                based in Washington D.C</span>
                        </div>
                    </div>
                
                    <div class="headerTwo" [ngClass]="{'rectangleTwo' : isSticky}" >
                        <div class="headerTwo" [ngClass]="{ 'nameTwo' : isSticky}"> 
                                    Bri Ondris
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row scrollWrapper" >
            <div class="col-2" style="margin-left: 33px;">
                <app-main-menu></app-main-menu>
            </div>
            <div class="col-10" style="margin-left: auto; margin-right: 45px;">
                <div class="main" >
                    <!-- <div class="animation" class="row" style="z-index: -11;">
                        <div class="col-12" style="z-index: -11;">
                            <app-main-page-animation></app-main-page-animation>
                        </div>
                    </div> -->
                    <div class="row section">
                        <div id="topPage" class="topPage"></div>
                    </div>

                    <div class="row currentSection">
                        <div class="currentWhiteBoxAbove" #currentTarget></div>
                        <div id="section1"  class="col-12">
                            <div class="row videoForCurrent">
                                <video autoplay="autoplay" loop muted playsinlines  preload="metadata" width='100%' height='100%' src="/assets/video/Ondris_Fin.mp4" type='video/mp4'></video>
                            </div>

                            <div *ngIf="isNewsSelected == true" class="">
                                <!-- <div class="col-8"> </div> -->
                                <div class=" parNews">
                                    <span>2020</span>
                                    <li> 01/16 - 02/01 VCU Alumni Gallery Exibit Pirate Utopias</li>
                                    <span>2019</span>
                                    <li> 12/14 Art Photographer for 1708 Gallery Monster Drawing Rally</li>
                                    <li> 11/15 - 11-23 Student Volunteer For Siggraph Asia Conference</li>
                                    <li> 10/13 Fair Volunteer for Futures Pitch Day Hackathon</li>
                                    <li> 08/21 - 09-05 Voicing Han user testing at VCU Massey Cancer Center</li>
                                </div>
                            </div>
                            <!-- <div class="h-overlayCurrent"></div> -->
                            <div class="row">
                                <div class="col-10">
                                    <div class="mostCurrent" ngxParallaxScroll
                                    [parallaxSpeed]='1'
                                    [parallaxSmoothness]='0.5'   
                                    [parallaxDirection]='"reverse"'
                                    [parallaxTimingFunction]='"ease-out"'
                                    [parallaxThrottleTime]='40'
                                    >
                                        <span> Most Current </span>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <!-- <div class="newsBox"></div> -->
                                <div class="col-10">
                                </div>
                                <div class="col-2">
                                    <div class="mat-elevation-z4 news"
                                    ngxParallaxScroll
                                    [parallaxSpeed]='0.5'
                                    [parallaxSmoothness]='0.5'   
                                    [parallaxDirection]='"reverse"'
                                    [parallaxTimingFunction]='"ease-out"'
                                    [parallaxThrottleTime]='30' matRipple
                                    [matRippleCentered]="centered"
                                    [matRippleDisabled]="disabled"
                                    [matRippleUnbounded]="unbounded"
                                    [matRippleRadius]="radius"
                                    [matRippleColor]="color">
                                        <div (click)="newsSelected()" class="c-btn c-btn--big-line" data-hover-name="Current Activities">Current Activities</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="currentGrayBox" ></div> -->
                            <div class="currentWhiteBox" ngxParallaxScroll
                        [parallaxSpeed]='0.3'
                        [parallaxSmoothness]='0.5'   
                        [parallaxDirection]='"reverse"'
                        [parallaxTimingFunction]='"linear"'
                        [parallaxThrottleTime]='80' ></div>
                        </div>
                        
                    </div>

                    
                    
                    <div class="row aboutSection">
                        <div id="section2" #aboutTarget class="col-12">
                            <div class="row">
                                <video autoplay="autoplay" loop muted playsinlines  preload="metadata" width='100%' height='100%' src="/assets/video/Ondris_Fin.mp4" type='video/mp4'></video>
                            </div>
                            <div class="h-overlayAbout"></div>
                            <!-- <div class="row">
                                <div class="col-12 aboutMeTop">
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-11">
                                    <div class="aboutName" ngxParallaxScroll
                                    [parallaxSpeed]='0.5'
                                    [parallaxSmoothness]='1'   
                                    [parallaxDirection]='"reverse"'
                                    [parallaxTimingFunction]='"ease-out"'
                                    [parallaxThrottleTime]='80'>
                                        <span> About </span>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="aboutWhiteBox" ngxParallaxScroll
                            [parallaxSpeed]='0.3'
                            [parallaxSmoothness]='0.3'   
                            [parallaxDirection]='"reverse"'
                            [parallaxTimingFunction]='"linear"'
                            [parallaxThrottleTime]='80'></div>
                            <div class="row aboutButtons">
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <div class="c-btn c-btn--big-line me" data-hover-name="Bio">Bio</div>
                                </div>
                                <div class="col-3">
                                    <div data-hover-name="Industry" class="c-btn c-btn--big-line dev">Industry</div>
                                </div>
                                <div class="col-2 ">
                                    <div class="c-btn c-btn--big-line art" data-hover-name="ArtSpace">ArtSpace</div>
                                </div>
                                <div class="col-3"></div>
                            </div>
                            
                            <!-- <div [ngClass]="isAboutMeSelected === true ? 'newPar' : isAboutArtSelected === true ? 'newPar' : isAboutDevSelected === true ? 'newPar' : '' ">  -->
                            <div *ngIf="isAboutMeSelected == true" class="row">
                                <div class="col-2"> </div>
                                <div  class="par Me col-7" ><span>Brianna Ondris is a web and Unity developer, human-centered designer, and an artist born in the United States. She grew up in northern New Jersey and in 2013 moved to Virginia to pursue an art degree from Virginia Commonwealth University in the Kinetic Imaging department. Today Ondris works as a freelancer developer and artist in Washington D.C.
                                </span> </div>
                                <div class="col-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-2"> </div>
                                <div class="par Dev col-7" *ngIf="isAboutDevSelected == true" > <span>	In a past life, I worked solely as a full-stack developer for a nonprofit start-up to an insurance corporation.  I found that the most joyful parts of my work were when I was developing and taking risks to include better UI and UX in the projects. Through my experiences I have learned an overarching variety of skills, but most importantly that my place in the working world is to be the translation between the functionality a program and the art and design of how it is to be used. </span> </div>
                                <div class="col-3"></div>
                            </div>
                            <div *ngIf="isAboutArtSelected == true" class="row">
                                <div class="col-2"> </div>
                                <div class="par col-7" > <span>I create interactive experiences that invite you to play at the edges of the unknown. I am driven by a deep curiosity to find the unseen choreographed patterns that make up the fantastic rituals in the everyday world.  In my work, I explore digital puppets, feminity, and cyborgs. In the work I make and have curated,  I continue to push the interaction between digital space and our own, to discover territory where something truly human can unfold between the two worlds. </span> </div>
                                <div class="col-3"></div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row contactSection">
                        <div id="section3"  class=" col-12 ">
                            <div class="row">
                                <div class="col-12 contactTop" #infoTarget>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row" > 
                                        <div class="col-6 contactMessage"> 
                                            <span>Whether you’re looking to collaborate, talk more about my work or just have a conversation, get in touch.</span>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-4 contactButtons" >
                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="mat-elevation-z4"
                                                matRipple
                                                [matRippleCentered]="centered"
                                                [matRippleDisabled]="disabled"
                                                [matRippleUnbounded]="unbounded"
                                                [matRippleRadius]="radius"
                                                [matRippleColor]="color">
                                                    <a href="mailto:bbondris@gmail.com">
                                                        <div class="c-btn c-btn--big-line" data-hover-name="Send me an email at bbondris@gmail.com.">Send me an email at bbondris@gmail.com.</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="mat-elevation-z4"
                                                matRipple
                                                [matRippleCentered]="centered"
                                                [matRippleDisabled]="disabled"
                                                [matRippleUnbounded]="unbounded"
                                                [matRippleRadius]="radius"
                                                [matRippleColor]="color">
                                                    <div (click)="openResume()" class="c-btn c-btn--big-line" data-hover-name="View my resume.">View my resume.</div>
                                            </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 5px;">
                                                <div class="mat-elevation-z4"
                                                matRipple
                                                [matRippleCentered]="centered"
                                                [matRippleDisabled]="disabled"
                                                [matRippleUnbounded]="unbounded"
                                                [matRippleRadius]="radius"
                                                [matRippleColor]="color">
                                                    <a download="Ondris_Resume" target="_blank" href="/assets/img/OndrisBrianna_Resume_.pdf">
                                                        <div class="c-btn c-btn--big-line" data-hover-name="Download my resume.">Download my resume.</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                                <!-- <app-information-contact></app-information-contact> -->
                            </div>
                            <div class="row ">
                                <div class="col-10" > 
                                    <div class="contactName" ngxParallaxScroll
                                    [parallaxSpeed]='0.5'
                                    [parallaxSmoothness]='1'   
                                    [parallaxDirection]='"straight"'
                                    [parallaxTimingFunction]='"ease-out"'
                                    [parallaxThrottleTime]='80'>Contact</div>
                                </div>
                                <div class="col-2"> </div>
                            </div>
                            <div class="row buttonToTop" ngxParallaxScroll
                            [parallaxSpeed]='0.5'
                            [parallaxSmoothness]='1'   
                            [parallaxDirection]='"straight"'
                            [parallaxTimingFunction]='"ease-out"'
                            [parallaxThrottleTime]='80'>
                                <div class="col-8"></div>
                                <div class="col-2">
                                    <button style="width: 100px; height: 40px;" data-am-linearrow="tooltip tooltip-bottom" (click)="scroll(topPage)" display-name="Scroll to Top">
                                        <div class="line line-1"></div>
                                        <div class="line line-2"></div>
                                    </button>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- our parallax stuff -->
<!-- <div appParallax [ratio]="-0.2" id="square"></div>
<div appParallax [ratio]="0.5" id="circle"></div>
<div appParallax [ratio]="0.9" id="rectangle"></div> -->

