mat-sidenav-container{
    height: 100%;
}
mat-sidenav, mat-sidenav-content{
    padding: 16px;
    background-color: white;
}
mat-sidenav{
    background-color: white;
    width: 200px;
    border-right: solid 0px rgba(0,0,0,.12);
}
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
.pageBody {
 height: 100%;
}