 <div class="container" > 
  <mat-sidenav-container>
      <mat-sidenav #sidenav mode = "side" [(opened)]="opened">  Sidenav
        <app-main-menu></app-main-menu>
      </mat-sidenav>
      <mat-sidenav-content> Main Content 
        <button (click) = "opened = !opened">Toggle Open</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">close</button>
        <button (click)="sidenav.toggle()">Toggle</button>
        <div [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
        </div>
        <app-main-page-animation></app-main-page-animation>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>

 