<div class="contianer contactInfoMain">
    <div class="row contactTopPart">

    </div>
    <div class="row buttonSpace">
        <button (click)="openResume()" md-raised-button>open window Resume</button>
        <a download="Ondris_Resume" target="_blank" href="/assets/img/OndrisBrianna_Resume_.pdf">
            <button md-raised-button>DownLoadResume</button>
        </a>
        <a href="mailto:bbondris@gmail.com">
            <button md-raised-button>Send email</button>
        </a>
              
    </div>
</div>

