html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#search-loading-indicator {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-lines {
	display: flex;
	// if you want to adjust the speed of this animation, make sure the delay is 1/6th of the animation duration
	animation: stretch-float-up 2s .33s ease-in-out infinite;
	
	&-container {
		position: relative;
	}
	
	&,
	&-container,
	&-container::before,
	&-container::after {
		width: 5px;
		height: 0;
	}
	
	&,
	&-container::before,
	&-container::after {
		position: absolute;
		background-color: #588ecc;
	}
	
	&-container::before,
	&-container::after {
		content: ' ';
		display: inline-block;
		flex-basis: auto;
		flex-shrink: 0;
		// if you want to adjust the speed of this animation, make sure you adjust all delays
		animation: stretch-float-up 2s ease-in-out infinite;
	}
	
	&-container::before {
		left: -10px;
	}
	
	&-container::after {
		right: -10px;
		// if you want to adjust the speed of this animation, make sure this delay is 1/3rd of the animation duration
		animation-delay: .66s;
	}
}

@keyframes stretch-float-up {
	0% {
		bottom: -15px;
		height: 0;
	}
	
	3.35% {
		bottom: -15px;
		height: 0;
	}
	
	6.6% {
		height: 19px;
	}
	
	18.48% {
		bottom: 7px;
		height: 12px;
	}
	
	19.8% {
		bottom: 7px;
		height: 12px;
	}
	
	26.4% {
		bottom: 0;
		height: 15px;
	}
	
	39.6% {
		bottom: 0;
		height: 15px;
	}
	
	46.2% {
		bottom: 0;
		height: 19px;
	}
	
	52.8% {
		bottom: 13px;
	}
	
	59.4% {
		bottom: 15px;
		height: 0;
	}
	
	67% {
		bottom: 15px;
		height: 0;
	}
	
	100% {
		bottom: 15px;
		height: 0;
	}
}